site_name: ATM Pages
site_url: https://atm.bcatouillard.fr
repo_name: bcatouillard/atm-pages
repo_url: https://github.com/bcatouillard/atm-pages
use_directory_urls: false
theme:
  name: material
  features:
    - content.action.edit
    - content.code.annotate
    - content.code.copy
    - content.code.select
    - navigation.sections
    - navigation.tabs
    - navigation.instant
    - navigation.expand
  palette:
    # Palette toggle for light mode
    - scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode

INHERIT: ./navigation.yml


markdown_extensions:
  - pymdownx.mark
  - pymdownx.tasklist
  - pymdownx.tilde
  - pymdownx.details
  - admonition
  - codehilite
  - md_in_html
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.tabbed:
      alternate_style: true
      slugify: !!python/object/apply:pymdownx.slugs.slugify
        kwds:
          case: lower
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - attr_list
  - toc:
      permalink: true
extra:
  annotate:
    json: [.s2]
extra_css:
  - style.css
plugins:
  - search
  - git-revision-date-localized
